@import './fonts.scss';

.filters {
  width: 492px;
  height: 1060px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &_header {
    margin-top: 60px;
    margin-left: 372px;
    width: 20px;
    height: 20px;

    &_button {
      width: 20px;
      height: 20px;

      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &_content {
    height: 404px;
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 320px;

    margin-left: 40px;
    margin-top: 100px;

    &_artist,
    &_location,
    &_years {
      width: 100%;
      &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_title {
          font-weight: 500;
          font-size: $h1-medium;
        }

        &_button {
          border: none;
          padding: 0;
          background-color: transparent;
          cursor: pointer;
        }
      }

      &_content {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease; // Плавное изменение высоты

        &_select {
          margin-top: 24px;

          width: 100%;
          height: 36px;

          padding: 8px 16px;

          background-color: var(--secondary-color);
          border-radius: 4px;
          border: none;

          font-family: $inter;
          font-size: $p-medium;
          color: var(--primary-color-reverse);

          outline: none;
        }

        &_form {
          margin-top: 24px;

          display: flex;
          align-items: center;

          &_input {
            width: 67px;
            height: 36px;
            box-sizing: border-box;

            padding: 8px 16px;

            background-color: var(--secondary-color);
            border-radius: 4px;
            border: none;

            font-family: $inter;
            font-size: $p-medium;
            color: var(--primary-color-reverse);
          }

          &_icon {
            margin: 8px;
          }
        }

        &.open {
          height: 60px;
        }
      }
    }

    &_years {
      &_content {
        display: flex;
      }
    }

    &_location,
    &_years {
      margin-top: 32px;
    }
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;

    margin-top: 200px;
    margin-left: 40px;

    &_show,
    &_clear {
      border: none;
      border-bottom: 1px solid var(--primary-color-reverse);
      padding: 0;
      color: var(--primary-color-reverse);

      background-color: transparent;
      cursor: pointer;

      font-family: $inter;
      font-size: $p-small;
    }
  }
}

@media screen and (max-width: 1023px) {
  .filters {
    width: 372px;

    &_header {
      margin-left: 328px;
      margin-top: 24px;
    }

    &_content {
      height: 440px;
    }

    &_list {
      margin-top: 136px;
      margin-left: 32px;
    }

    &_footer {
      margin-left: 32px;
    }
  }
}

@media screen and (max-width: 767px) {
  .filters {
    width: 280px;

    &_header {
      margin-left: 240px;
      margin-top: 20px;
    }

    &_content {
      height: 364px;
    }

    &_list {
      margin-top: 84px;
      margin-left: 20px;

      width: 240px;

      &_artist,
      &_location,
      &_years {
        &_header {
          &_title {
            font-size: $h2-medium;
          }

          &_button {
            width: 12px;
            height: 12px;
          }
        }

        &_content {
          &_select {
            height: 33px;
          }

          &_form {
            &_input {
              height: 33px;

              font-size: $p-small;
            }
          }

          &.open {
            height: 57px;
          }
        }
      }
    }

    &_footer {
      margin-left: 20px;
      margin-top: 60px;

      width: 240px;
    }
  }
}

.filters_active {
  animation: slide-out 0.5s ease-in-out forwards;
}

.filters_open {
  animation: slide-in 0.5s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
