$font-primary: 'Cormorant';
$font-primary-bold: 'Cormorant Bold';

@font-face {
  font-family: $font-primary;
  src: url('../assets/fonts/Cormorant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-primary-bold;
  src: url('../assets/fonts/Cormorant-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
