@import 'normalize-scss/sass/normalize/import-now';
@import './header.scss';

@import './colors.scss';
@import './fonts.scss';


body {
    background-color: $primary-black;
    color: $primary-white
}

h1 {
    font-family: $font-primary
}

.container { 
    max-width: 1240px;
    margin: 0 100px;
}