@import './fonts.scss';

.pagination {
  margin-top: 40px;
  margin-bottom: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  &_button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    color: var(--primary-color-reverse);

    font-family: $inter;
    font-size: $p-big;

    cursor: pointer;

    margin: 0 4px;

    &_prev {
      padding: 0;
      width: 20px;
      height: 20px;
      border: none;

      background-color: transparent;

      transform: rotate(180deg);

      margin: 2px 20px 2px 0;

      cursor: pointer;

    }

    &_active {
      width: 24px;
      height: 24px;

      margin: 0 4px;

      border: none;
      border-radius: 4px;
      background-color: var(--secondary-color);
      color: var(--primary-color-reverse);

      font-family: $inter;
      font-size: $p-big;

      cursor: pointer;
    }

    &_next {
      padding: 0;
      width: 20px;
      height: 20px;
      border: none;

      background-color: transparent;

      margin: 2px 0px 2px 20px;

      cursor: pointer;

    }
  }

  &_span {
    margin: 0 4px;
    padding: 0 4px;
  }
}
