

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 44px 0 20px 0;

  min-width: 280px;
}

.search {
  margin-right: 20px;

  width: 30vw;
  height: 36px;

  max-width: 336px;

  &_form {
    border-radius: 4px;
    background-color: var(--secondary-color);

    display: flex;
    align-items: center;

    &_button {
      margin: 8px 10px 8px 16px;

      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;

      width: 20px;
      height: 20px;
    }

    &_input {
      border: none;
      background-color: transparent;
      color: var(--primary-color-reverse);

      font-family: 'Inter';
      font-size: 14px;
      font-weight: 300;

      width: auto;
      min-width: 82px;
    }

    &_input::placeholder {
      color: var(--primary-grey);
    }

    &_input:focus {
      outline: none;
    }
  }
}

.filters_button {
  width: 36px;
  height: 36px;

  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;

  padding: 6px;

  cursor: pointer;

}

@media screen and (max-width: 1023px) {
  .search {
    max-width: 336px;
    min-width: 296px;

    &_form {

      border: 1px solid var(--primary-grey);
    }
  }
}

@media screen and (max-width: 767px) {
  .search {
    max-width: 296px;
    min-width: 224px;
  }
}

