.search_button {
  margin: 8px 10px 8px 16px;

  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .search_button {
    margin: 8px 10px 5px 16px;
  }
}
